body {
  padding-top: 70px;
}
h1 .glyphicon, h1 button {
  vertical-align: bottom;
}
.table-hover tbody tr {
  cursor: pointer;
}

/* Print styles */
@media print {
  body {
    padding-top: 0;
  }

  .btn.print {
    display: none;
  }
}
