<div class="page-header">
  <h1>
    <i class="bi bi-tag-fill"></i> Groups
    <LinkTo @route="groups.edit" @model="new" class="btn btn-primary float-end">Add Group</LinkTo>
  </h1>
</div>

{{#if model}}
<table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>People</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {{#each model as |group|}}
      {{#link-to "groups.edit" group tagName="tr"}}
        <td>{{group.name}}</td>
        <td>{{group.people.length}}</td>
        <td class="text-right"><a {{action "delete" group}} class="bi bi-trash"></a></td>
      {{/link-to}}
    {{/each}}
    </tbody>
</table>
{{/if}}

{{outlet}}
