<nav class="navbar navbar-expand-md navbar-dark bg-primary mb-5 d-print-none">
  <div class="container">
    <LinkTo @route="index" class="navbar-brand"><i class="bi bi-calendar-check"></i> Simple Schedule</LinkTo>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <LinkTo @route="schedules" class="nav-link"><i class="bi bi-calendar3"></i> Schedules</LinkTo>
        </li>
        <li>
          <LinkTo @route="people" class="nav-link"><i class="bi bi-people-fill"></i> People</LinkTo>
        </li>
        <li>
          <LinkTo @route="groups" class="nav-link"><i class="bi bi-tag-fill"></i> Groups</LinkTo>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  {{outlet}}
</div> <!-- /container -->
