<h1>
  <span class="glyphicon glyphicon-tag" aria-hidden="true"></span> Edit Group
</h1>

<form>
  <div class="form-group">
    <label>Name</label>
    {{input type="text" value=name}}
  </div>
</form>

{{outlet}}
