<h1>
  <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Schedule
  <button type="button" class="btn btn-primary pull-right">Generate Schedule</button>
</h1>

{{#if model}}
<table class="table">
    <thead>
      <tr>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
    {{#each model as |date|}}
      <tr><td>{{date.date}}</td></tr>
    {{/each}}
    </tbody>
</table>
{{/if}}

{{outlet}}
